

@if (algorithm != null) {
    <div class="main" id="@algorithm.Id">
        <div class="bar">
            <div>
                <h4>@algorithm.Name</h4>
                <p>@algorithm.Description</p>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" @bind="checkedValue" type="checkbox" role="switch" id="check-@algorithm.Id">
                <label class="form-check-label" for="check-@algorithm.Id"></label>
            </div>
        </div>

        <div id="collaps-@algorithm.Id" class="parameters-wrapper @visible">
            @if(algorithm.Parameters != null) {

                <Builder parameters=@algorithm.Parameters.ToList() Id="@algorithm.Id"/>
            
            }
            
        </div>
    </div>
} else {
    <div>Error</div>
}

@code {
    [Parameter]
    public Algorithms? algorithm { get; set; }

    private bool checkedValue;
    private bool firstload = true;

    private string visible {
        get {
            if (checkedValue) {
                firstload = false;
                return "parameter-visible";
            } else {
                if (firstload) {
                    return "hidden";
                }
                return "parameter-collapse";
            }
        }

    }
}
